* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color: #000000;
  --bg-input: #06181c;
  --bg-input-button: #065e7c;
  --text-color: #e1e1e6;
  --text-color-input: #7c7c8a;
  --text-color-button: #ffffff;
  --ff-primary: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  max-width: 1120px;
  margin: 11.5rem auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 0 8.7rem 0;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search input {
  height: 4.8rem;
  border: none;
  width: 46.2rem;
  padding: 1.6rem;
  border-radius: 5px;
  background: var(--bg-input);
  color: var(--text-color-input);
}

.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--bg-input-button);
  border-radius: 5px;
  height: 4.8rem;
  width: 17rem;
  border: none;
  padding: 1.2rem 3.2rem;
  cursor: pointer;
  color: var(--text-color-button);
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.4rem;
}

.search button:hover {
  background-color: #ffffff;
  color: #065e7c;
}

.search button:hover svg path {
  fill: #065e7c;
}

table {
  width: 100%;
  border-spacing: 0;
  border: none;
  /* overflow: hidden; */
}
.table-wrapper {
  overflow-y: overlay;
  border: 1px solid #4a808c;
  border-radius: 1.2rem;
  max-height: 60.6rem;
}

.table-wrapper::-webkit-scrollbar {
  width: 2.1rem;
}

.table-wrapper::-webkit-scrollbar-track {
  margin: 2rem 0;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #4a808c;
  border-radius: 1rem;
  border: solid 7px transparent;
  background-clip: padding-box;
  height: 12.2rem;
}

table * {
  font-size: 2rem;
  color: var(--text-color);
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

table th {
  background-color: #092d38;
  text-align: left;
  font-weight: 700;
  height: 6.4rem;
  padding: 2.4rem 0 2.4rem 4rem;
}

table th:first-child {
  border-top-left-radius: 1.2rem;
}

table th:last-child {
  border-top-right-radius: 1.2rem;
}

table td {
  padding: 2.4rem 0 2.4rem 4rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;
  object-fit: cover;
  border-radius: 50%;
}

td.remove {
  color: #f75a68;
  font-weight: 700;
  line-height: 160%;
  cursor: pointer;
}

table tr:nth-child(even) {
  border: 1px solid #4a808c;
  background: #4a808c;
  background-color: #06181c;
}

.hide {
  display: none;
}

.no-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  height: 40rem;
  background-color: #06181c;
  /* border-left: 1px solid #4a808c;
  border-right: 1px solid #4a808c;
  border-bottom: 1px solid #4a808c; */
  border-radius: 0 0 12px 12px;
}

.no-favorites p {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 2.5rem;
  color: #4e5455;
}

.no-favorites img{
  height: 10.5rem;
  width: 11.2rem;
}
